.main-title-container {
    display: flex;
    flex-direction: row;
}
.main-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
    margin-left: 19px;
}