:root{
    --white: #FFFFFF;
    --black: #000000;
    --text-black: #333333;
    --text-gray: #4F4F4F;
    --text-footer: #BDBDBD;
    }

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
    
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: #333333;
    color: #FFFFFF;
}
.main-title-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    min-width: 320px;
    margin-top:71px ;
    margin-bottom: 38px;
    padding-left: 12px;
}
.main-title-container h1 {
    width: 100%;
    height: auto;
    margin-bottom: 38px;
    font-family: 'PT Serif', serif;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.7rem;
}
.main-title-container h2 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.7rem;
}
.main-title-container p {
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
}
.main-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
    margin-left: 19px;
}
.card-info-container {
    width: 100%;
    min-width: 156px;
    max-width: 264px;
    height: auto;
}
.card-info-container .wu-member{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 208px;
}
.method-man {
    background-image: url('./assets/method-man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.ol-dirty-bastard {
    background-image: url('./assets/odb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 60px;
}
.raekwon {
    background-image: url('./assets/raekwon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;

}
.gza {
    background-image: url('./assets/Gza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 60px;

}
.rza{
    background-image: url('./assets/Rza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}
.ghostface-killa{
    background-image: url('./assets/ghostface-killa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 60px;

}
.inspectah-deck{
    background-image: url('./assets/inspectah-deck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
} 
.u-god{
    background-image: url('./assets/u-god.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 60px;

}
.masta-killa{
    background-image: url('./assets/masta-killa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}
.card-info-container h3{
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1rem;
    letter-spacing: 0em;
}
.wu-member p{
    width: 30px;
    height: 30px;
    margin-right: -13px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: 0em;
    transform: rotate(90deg);

}
footer{
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}
.footer-text-container{
    width: 100%;
    max-width: 287px;
    height: auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.7rem;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text-footer);

}
.footer-text-container a{
    color: var(--text-footer);
    font-weight: bold;
    text-decoration: none;
}